@import "abstract/variables";
@import "bootstrap/scss/bootstrap.scss";
@import "abstract/base";
@tailwind base;
@tailwind components;
@tailwind utilities;

.modal_container {
  display: flex;
  position: fixed;
  padding: 7rem;
  justify-content: center;
  align-items: center;
  place-content: center;
}

.modal_children {
  display: flex;
  overflow-y: scroll;
  padding: 6rem;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  max-height: 24rem;
  color: #000000;
  background-color: aliceblue;
}

.button-container {
  display: flex;
  justify-items: center;
  place-items: center;
  place-content: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.button-a {
  background-color: #46139f;
  color: white;
  height: 60px;
  width: 90px;
  border-radius: 10px;
  margin-right: 10px;
}

.button-b {
  background-color: #ff7f50;
  color: white;
  height: 60px;
  width: 90px;
  border-radius: 10px;
  margin-right: 10px;
}

.button-c {
  background-color: white;
  color: black;
  border-style: solid;
  border-width: 2;
  border-color: #46139f;
  height: 60px;
  width: 90px;
  border-radius: 10px;
}
